@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  background-color: #14181c;
  color: #ffffff;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #14181c;
}

::-webkit-scrollbar-thumb {
  background: #2c3440;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #445566;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}

@layer base {
  button {
    @apply outline-none focus:outline-none;
  }
}